<ul class="sidebar navbar-nav" [ngClass]="sidebarToggle ? 'toggled' : ''">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <em class="fas fa-fw fa-tachometer-alt"></em>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/charts">
      <em class="fas fa-fw fa-chart-area"></em>

      <span>Charts</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tables">
      <em class="fas fa-fw fa-table"></em>
      <span>Tables</span></a>
  </li>
</ul>
