<nb-card>
  <nb-card-header>General Details</nb-card-header>
  <nb-card-body>
    <div class="col-1">
      <form class="form-server-creation">
        <label class="label" for="input-server-name">Server Name</label><br/>
        <div class="description">Name of server that will be displayed on your Dashboard</div>
        <input class="form-control"
               name="name"
               required
               nbInput
               ngModel
               #name="ngModel"
               type="text"
               fullWidth
               status="basic"
               placeholder="Server name">
      </form>

      <form class="form-server-creation">
        <label class="label" for="input-server-owner">Server Owner</label><br/>
        <div class="description">Owner of server that will have full control of this game server</div>
        <input class="form-control"
               name="owner"
               required
               nbInput
               ngModel
               #name="ngModel"
               type="text"
               fullWidth
               status="basic"
               placeholder="Type some letters to start searching user">
      </form>
    </div>
    <div class="col-2">
      <form class="form-server-creation">
        <label class="label" for="input-server-description">Description</label><br/>
        <div class="description">Short description of this server which will be displayed on the Dashboard</div>
        <textarea class="form-control"
                  name="description"
                  required
                  nbInput
                  ngModel
                  #name="ngModel"
                  type="text"
                  fullWidth
                  status="basic"
                  placeholder="This is my game server. It runs v1.0."></textarea>
      </form>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Resource Allocation & Container Settings</nb-card-header>
  <nb-card-body>
    <div class="col-1">
      <form class="form-server-creation">
        <label class="label" for="input-docker-image">Docker image</label><br/>
        <input [(ngModel)]="dockerImage"
               class="form-control"
               name="input-docker-image"
               required
               nbInput
               ngModel
               #name="ngModel"
               type="text"
               fullWidth
               status="basic"
               placeholder="myusername/mycustomgameserver:v1.0">
      </form>

      <form class="form-server-creation">
        <label class="label" for="input-port-allocation">Port allocation</label><br/>
        <div class="description">Max values: 1024-65565 - Comma-separated values</div>
        <input [(ngModel)]="portAlloc.rawValue"
               (keyup)="onInputPortAlloc($event)"
               class="form-control"
               name="input-port-allocation"
               required
               nbInput
               ngModel
               #name="ngModel"
               type="text"
               fullWidth
               [status]="portAlloc.hasError ? 'danger' : 'basic'"
               placeholder="25565">
        <gb-error-container *ngIf="portAlloc.hasError" [errorMessage]="portAlloc.errorMessage"></gb-error-container>
      </form>

      <form class="form-server-creation">
        <label class="label" for="input-memory-allocation">Memory allocation</label><br/>
        <div class="description">Values should be in MB - Use -1 to ignore limits</div>
        <input [(ngModel)]="memoryAlloc.value"
               (keyup)="onInputMemoryAlloc($event)"
               class="form-control"
               name="input-memory-allocation"
               required
               nbInput
               ngModel
               #name="ngModel"
               type="text"
               fullWidth
               [status]="memoryAlloc.hasError ? 'danger' : 'basic'"
               placeholder="-1">
        <gb-error-container *ngIf="memoryAlloc.hasError" [errorMessage]="memoryAlloc.errorMessage"></gb-error-container>
      </form>

    </div>
    <div class="col-2">
      <form class="form-server-creation">
        <label class="label" for="input-startup-arguments">Startup arguments</label><br/>
        <div class="description">Command with arguments that will be run upon container creation</div>
        <input [(ngModel)]="startupArgs"
               class="form-control"
               name="input-startup-arguments"
               required
               nbInput
               ngModel
               type="text"
               fullWidth
               status="basic"
               placeholder="./start_server.sh --myargs random_value">
      </form>

        <form class="form-server-creation">
          <label class="label" for="input-restart-behaviors">Restart behavior</label><br />
          <nb-radio-group [(ngModel)]="restartBehaviorOptions" name="restartBehavior">
            <nb-radio
              *ngFor="let option of restartBehaviorOptions"
              [value]="option.value"
              [checked]="option.checked">
              {{ option.label }}
            </nb-radio>
          </nb-radio-group>
        </form>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body class="button-group">
    <button nbButton status="basic">Cancel</button>
    <button nbButton status="info" (click)="submit()">Create Game Server</button>
  </nb-card-body>
</nb-card>
