.server-status {
  margin-right: 1.2rem;
  margin-bottom: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

.button-group {
  margin-left: auto;
  margin-right: 3rem;

  button {
    padding-left: .75em !important;
    padding-right: .75em !important;
    margin-right: 5px;

    nb-icon {
      font-size: 1rem;
    }
  }
}
