<div *ngIf="gameServers.length === 0">
  No Gameservers du noob bobo hurensohn
</div>
<div class="accordion" id="accordionServers">
  <div *ngFor="let gameServer of gameServers" class="card">
    <div class="card-header" id="headingOne" data-toggle="collapse" [attr.data-target]="'#gameServer'+gameServer.id">
      <div class="row px-3">
        <h3 class="mr-4 my-auto"> Game server {{gameServer.id}} </h3>
        <div class="btn-group my-auto" role="group" aria-label="Basic example">
          <button class="btn btn-info" [class.disabled]="!restartPossible(gameServer.id)"
                  (click)="restartServerEvent($event, gameServer.id)">
            <em class="fas fa-sync"></em>
          </button>
          <button class="btn btn-danger" [class.disabled]="!stopPossible(gameServer.id)"
                  (click)="stopServerEvent($event, gameServer.id)">
            <em class="fas fa-stop"></em>
          </button>
          <button class="btn btn-success" [class.disabled]="!startPossible(gameServer.id)"
                  (click)="startServerEvent($event, gameServer.id)">
            <em class="fas fa-play"></em>
          </button>
        </div>
        <h3 class="mr-0 ml-auto"><small>
          <span *ngIf="gameServer.status===statusEnum.RUNNING" class="badge badge-success">Running</span>
          <span *ngIf="gameServer.status===statusEnum.RESTARTING" class="badge badge-info">Restarting</span>
          <span *ngIf="gameServer.status===statusEnum.STOPPED" class="badge badge-danger">Stopped</span>
          <span *ngIf="gameServer.status===statusEnum.ERROR" class="badge badge-danger">Error</span>
        </small></h3>
      </div>
    </div>

    <div [attr.id]="'gameServer'+gameServer.id" class="collapse" [ngClass]="gameServers[0] === gameServer ? 'show' : ''" aria-labelledby="headingOne"
         data-parent="#accordionServers">
      <div class="card-body">
        <ul>
          <li>Image: {{gameServer.image}}</li>
          <li>Ports: {{gameServer.ports}}</li>
          <li>Slots: {{gameServer.slots}}</li>
          <li>Kevin ist cool</li>
        </ul>
      </div>
    </div>
  </div>
</div>
