<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Reviews
      <div class="button-group">
        <button class="status-button" nbButton status="danger" size="small" shape="round">
          <nb-icon pack="fas" icon="sync"></nb-icon>
        </button>
        <button class="status-button" nbButton status="info" size="small" shape="round">
          <nb-icon pack="fas" icon="sync"></nb-icon>
        </button>
      </div>
      <nb-alert class="server-status" status="warning">Error</nb-alert>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-card>
        <nb-card-header>Interesting Values that make sense</nb-card-header>
        <nb-card-body>
          <div echarts [options]="options" class="echart"></div>
        </nb-card-body>
      </nb-card>

    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Edit
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
