<nb-card id="stepper-card">
  <nb-card-header>Configure new server</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper linear="true">

      <nb-step [stepControl]="imageForm" label="Image">
        <form #imageForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="text"
                   placeholder="Enter an image name"
                   class="form-control"
                   name="name"
                   required
                   nbInput
                   ngModel
                   #name="ngModel"
                   [status]="name.invalid ? 'danger' : 'basic'">
            <button nbButton nbStepperNext>next</button>
          </div>
        </form>
      </nb-step>

      <nb-step [stepControl]="configForm" label="More config">
        <form #configForm="ngForm" class="step-container">
          <div class="input-group">
            Currently there are no other configuration options
            <button nbButton nbStepperNext (click)="deployServer(name.value)">finish</button>
          </div>
        </form>
      </nb-step>

      <nb-step [stepControl]="configForm" [hidden]="true" label="More config">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="gameServers.length == 0">
  <nb-card-body>There are currently no GameServers deployed.<br>Go create one!</nb-card-body>
</nb-card>

<nb-accordion multi>
  <gb-game-server-accordion-item *ngFor="let gameServer of gameServers"
                                 [gameServer]="gameServer"
                                 (delete)="deleteGameServerAccordionItem($event)">
  </gb-game-server-accordion-item>
</nb-accordion>
