.server-status {
  margin-right: 1rem;
  margin-bottom: 0;
}

.button-group {
  margin-left: auto;
  margin-right: 3rem;

  button {
    padding-left: .75em !important;
    padding-right: .75em !important;
    margin-right: 5px;
  }
}
